@import '../fonts.scss';
@import '../colors.scss';


.header {
  position: fixed;
  background: $clr-blue-transp; 
  backdrop-filter: blur(4px);
  width: 100%;
  z-index: 100;
  top: 0;

  .container {

    max-width: 1200px;
    margin: auto;
    padding: 0 15px;

    height: 75px;
    top: 0px;

    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo {
      min-width: 100%;
    }
    .buttons button:first-child {
      margin-right: 6px;
    }

  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .buttons {
    margin: auto;
  }
}