@import "../colors";

input:focus {
  outline: none;
}

.profileInfo {
  background-color: $clr-blue-prim;
  width: 60%;
  padding: 15px;
  border-radius: 15px;
  font-family: 'Roboto';
  font-style: normal;
  margin: 0 auto;

  .fieldsList {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .field {
      font-size: 14px;
      justify-content: space-between;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      color: white;
      width: 50%;

      .inputEdit {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;

        input {
          width: 90%;
          color: white;
          background-color: transparent;
          border: 0;
          font-size: 16px;

          &:focus {
            background-color: white;
            color: black;

          }
        }
      }

      .activeInput {
        background-color: white;
        color: black;
      }
    }
  }

  .closeButton {
    display: none;
  }
}


@media only screen and (max-width: 1200px) {

  .profileInfo {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {

  .profileInfo {
    width: 85%;

    .fieldsList {
      flex-direction: column;
      align-items: end;
      width: 100%;

      .field {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .inputEdit {
          margin: 10px 0;
          width: 100%;
        }
      }
    }

    .closeButton {
      cursor: pointer;
      display: block;
      text-align: center;
      margin: 5px 0;
    }

    .isOpen {
      height: 20px;
    }

    .hideItems {
      display: none;
    }

  }

}