@import '../fonts.scss';
@import '../colors.scss';


.first-section
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 92px;

  img {
    width: 375px;
    height: 375px;
    border-radius: 50%;
  }

  h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    color: $clr-white;
    margin-bottom: 11px;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.second-section {
  margin-top: 317px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 223px;

  div {
    width: 500px;

    h1 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      color: $clr-white;
      margin-bottom: 15px;
    }

    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      color: $clr-white;
    }
  }

  img {
    width: 448px;
  }
}