@import '../fonts.scss';
@import '../colors.scss';

.background {
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.first-section
{
  min-height: 50vh;
  background-color: $clr-blue-prim;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 184px;
    padding-bottom: 100px;

    img {
      border-radius: 50%;
      max-width: 375px;
      max-height: 375px;
    }

    h1 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 900;
      font-size: 72px;
      color: $clr-white;
      margin-bottom: 11px;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    input {
      width: 90%;
      padding: 15px 18px;
      font-style: normal;
      font-size: 18px;
      border-radius: 20px;
      border: 1px solid green;
    }
    input:focus {
      outline: none !important;
    }
  }

}

.second-section{
  min-height: 50vh;
  background-color: $clr-blue-sec;

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 223px;
    align-items: center;

    div {
      max-width: 500px;
      h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        color: $clr-white;
        margin-bottom: 15px;
      }

      p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: $clr-white;
      }
    }

    img {
      max-width: 448px; 
    }

  }
}


@media (max-width: 1200px) {
 .container {
   max-width: 970px;
 }
}

@media (max-width: 992px) {
 .container {
   flex-direction: column;
   max-width: 750px;
 }
 .second-section .container {
   flex-direction: column-reverse;
   div {
     padding-top: 1em;
   }
   p {
    text-align: justify;
   }
   h1 {
    text-align: center;
   }
 }
}

@media (max-width: 767px) {
 .container {
   max-width: none;
 }
}

@media (max-width: 481px) {
  img {
    max-width: none;
    width: 100%;
  }
}
