@import '../fonts.scss';
@import '../colors.scss';

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px auto;
  background-color: white;
  padding: 50px 30px ;
  max-width: 500px;
  border-radius: 30px;

  button {
    align-self: end;
  }

  h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    margin-bottom: 35px;
    align-self: start;
  }
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;

    @media (max-width: 500px) {
      flex-direction: column; 
      p {
        align-self: start;
        padding-left: 2px;
      }

    }
    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
    }

    input {
      max-width: 280px;
      width: 100%;
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 10px;
      outline-style: none;
      border: 1px solid $clr-blue-prim;
    }


  }
}