@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.Header {
  height: 75px;
  left: calc(50% - 1440px/2);
  top: 0px;

  /* HeaderTransperent */

  background: rgba(0, 188, 212, 0.5);
  backdrop-filter: blur(4px);

  h1 {
    width: 172px;
    height: 38px;
    left: calc(50% - 172px/2 - 505px);
    top: 18px;

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;

    /* White */

    color: #FFFFFF;

    mix-blend-mode: normal;
  }
}