@import 'colors.scss';

.switch {
  background-color: $clr-blue-sec;
  color: $clr-white;
  border-radius: 50px;
  display: flex;
  position: relative;
  width: 10%;

  .option {
    background-color: transparent;
    width: 50%;
    text-align: center;
  }

  .movable {
    background-color: red;
    position: absolute;
    width: 50%;
    z-index: 0;
  }
}